<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/main.css">
    <title>{{pageTitle}}</title>
</head>
<body>
    {{!-- Partricle/border/svgLogo --}}
    <div class="container">
        <div class="partricle"></div>
        <div class="partricle"></div>
        <div class="partricle"></div>
        <div class="partricle"></div>
        <div class="partricle"></div>
        <div class="partricle"></div>
        <div class="partricle"></div>
        <div class="partricle"></div>
        <div class="partricle"></div>
        <div class="partricle"></div>
        <div class="partricle"></div>
        <div class="partricle"></div>
        <div class="partricle"></div>
        <div class="partricle"></div>
        <div class="partricle"></div>
        <div class="partricle"></div>
        <div class="partricle"></div>
        <div class="partricle"></div>
        <div class="partricle"></div>
        <div class="partricle"></div>
        <div class="partricle"></div>
        <div class="partricle"></div>
        <div class="partricle"></div>
        <div class="border"></div>
        <div class="border"></div>
        <svg class="logo" viewBox="0 0 595.28 257.48">
            <g>
                <path class="st0" d="M457.73,191.73c2.48,0,4.05,0.6,4.93,1.1l0.51,0.29l1.29-4.38l-0.35-0.17c-1.21-0.61-3.61-1.31-6.38-1.31
                    c-8.01,0-13.61,5.54-13.61,13.46c0,7.75,5.08,12.95,12.65,12.95c3.27,0,5.95-0.79,7.24-1.47l0.32-0.17l-0.96-4.24l-0.52,0.23
                    c-1.29,0.57-2.87,1.17-5.27,1.17c-4.8,0-8.03-3.49-8.03-8.69C449.55,195.18,452.76,191.73,457.73,191.73z"/>
                <path class="st0" d="M479.32,187.21c-7.42,0-12.6,5.53-12.6,13.46c0,7.69,5.01,13.06,12.2,13.06c6.3,0,12.65-4.16,12.65-13.46
                    C491.57,192.46,486.65,187.21,479.32,187.21z M479.12,209.46c-4.04,0-6.97-3.76-6.97-8.94c0-4.5,2.19-9.04,7.07-9.04
                    c4.72,0,6.87,4.63,6.87,8.94C486.09,205.66,483.16,209.46,479.12,209.46z"/>
                <path class="st0" d="M516.95,186.92c0-4.45,1.4-6.61,4.29-6.61c1.31,0,2.1,0.26,2.7,0.52l0.55,0.23l0.71-4.39l-0.34-0.14
                    c-0.67-0.28-2.09-0.74-3.97-0.74c-2.42,0-4.64,0.85-6.24,2.4c-1.98,1.88-3.03,4.95-3.03,8.88v0.7h-9.34v-0.6
                    c0-4.34,1.27-6.36,3.99-6.36c1.05,0,1.98,0.35,2.43,0.56l0.5,0.23l1.16-4.17l-0.33-0.18c-0.4-0.21-1.86-0.92-3.71-0.92
                    c-2.71,0-4.9,0.81-6.5,2.41c-1.9,1.9-2.87,4.82-2.87,8.67v0.34h-3.44v4.32h3.44v21.08h5.33v-21.08h9.34v21.08H517v-21.08h5.87
                    v-4.32h-5.92V186.92z"/>
                <path class="st0" d="M535.75,187.21c-7.03,0-11.94,5.62-11.94,13.66c0,7.78,4.91,12.8,12.5,12.8c4.04,0,6.76-0.85,8.33-1.56
                    l0.35-0.16l-0.98-4.09l-0.51,0.21c-1.5,0.64-3.34,1.23-6.59,1.23c-4.73,0-7.65-2.82-7.91-7.56h17.12l0.07-0.61
                    c0.06-0.47,0.13-1.12,0.13-1.93C546.33,193.67,543.56,187.21,535.75,187.21z M529.11,197.63c0.45-2.56,2.17-6.3,6.29-6.3
                    c1.63,0,2.95,0.5,3.91,1.48c1.47,1.5,1.75,3.71,1.79,4.82H529.11z"/>
                <path class="st0" d="M561.34,187.21c-7.03,0-11.94,5.62-11.94,13.66c0,7.78,4.91,12.8,12.5,12.8c4.04,0,6.76-0.85,8.33-1.56
                    l0.35-0.16l-0.97-4.09l-0.51,0.21c-1.5,0.64-3.34,1.23-6.59,1.23c-4.72,0-7.65-2.82-7.91-7.56h17.13l0.07-0.64
                    c0.05-0.46,0.13-1.1,0.13-1.9C571.91,193.67,569.14,187.21,561.34,187.21z M554.69,197.63c0.45-2.56,2.17-6.3,6.29-6.3
                    c1.63,0,2.94,0.5,3.91,1.48c1.47,1.5,1.75,3.72,1.79,4.82H554.69z"/>
                
                    <rect x="23.37" y="197.7" transform="matrix(1 -4.620771e-03 4.620771e-03 1 -0.9247 1.0409)" class="st0" width="402.84" height="5.9"/>
                <path class="st0" d="M454.29,121.99v-19.66c-1.9-0.47-3.55-0.71-5.92-0.71c-13.97,0-26.53,9.71-31.74,25.11h-0.95l-0.71-22.5
                    h-18.24c0.71,10.66,0.95,22.27,0.95,35.77v21.46h20.61v-3.69c0-3.55,0.47-6.87,0.95-9.71c2.84-15.63,13.26-26.77,27.95-26.77
                    C450.02,121.28,452.15,121.52,454.29,121.99z"/>
                <path class="st0" d="M294.57,152.21c0-3.32,0.71-6.16,1.18-8.53c4.26-15.87,17.53-25.58,31.74-25.58
                    c22.27,0,34.11,19.66,34.11,42.64c0,0.24-0.01,0.47-0.01,0.71h20.83c0.01-0.48,0.03-0.94,0.03-1.42
                    c0.24-34.82-19.9-58.5-48.32-58.5c-18.48,0-31.74,8.29-39.08,21.08h-0.47V50.59h-20.61v110.85h20.61V152.21z"/>
                <path class="st0" d="M79.47,117.86c15.63,0,27,10.9,30.08,24.16c0.71,2.61,0.95,6.16,0.95,8.76v10.66h20.84V50.59H110.5v68.45
                    h-0.47c-5.21-9.24-17.05-17.53-34.58-17.53c-27.54,0-50.92,22.78-51.38,59.93h21.07C45.37,136.46,58.12,117.86,79.47,117.86z"/>
                <path class="st0" d="M334.54,151.14c0,5.51,4.46,9.97,9.97,9.97c5.51,0,9.97-4.46,9.97-9.97c0-5.51-4.46-9.97-9.97-9.97
                    C339.01,141.17,334.54,145.64,334.54,151.14z"/>
                <path class="st0" d="M202.67,117.15c24.63,0,34.35,24.63,34.35,44.06c0,0.08,0,0.16,0,0.24h21.3c0-0.32,0.02-0.63,0.02-0.95
                    c0-35.06-22.26-58.98-55.19-58.98c-31.48,0-56.41,22.14-56.83,59.93h21.06C167.46,139.73,178.13,117.15,202.67,117.15z"/>
                <circle class="st0" cx="533.24" cy="151.14" r="9.97"/>
                <path class="st0" d="M550.13,161.21c0,0.08,0,0.16,0,0.24h21.3c0-0.32,0.02-0.63,0.02-0.95c0-35.06-22.26-58.98-55.19-58.98
                    c-31.48,0-56.41,22.14-56.83,59.93h21.07c0.08-21.72,10.74-44.29,35.29-44.29C540.42,117.15,550.13,141.79,550.13,161.21z"/>
            </g>
        </svg>
        <div class="container2">
            <section class="tablet">
                <svg class="tablet__ipad" viewBox="0 0 970 768">
                    <g>
                        <path d="M859.5,112.4h-721c-29,0-52.5,23.5-52.5,52.5v440.1c0,29,23.5,52.5,52.5,52.5h721c29,0,52.5-23.5,52.5-52.5V164.9
                        C912,135.9,888.5,112.4,859.5,112.4z M832.9,151.8v466.4H131.5V151.8H832.9z"/>
                        <circle class="st0" cx="871.3" cy="385" r="28.3"/>
                        <circle cx="871.3" cy="385" r="22.4"/>
                        <circle class="st0" cx="109.1" cy="385" r="8.3"/>
                    </g>
                </svg>
                <div class="tablet__ui">
                    <div class="table__nav">
                        <div class="tablet__nav__item">
                        <div class="table__date">
                            {{time}} {{weekDay}} {{weekNum}} {{month}}
                        </div>

                        </div>
                        <div class="tablet__nav__item">
                        <div class="tablet__wifi">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512"><!--! Font Awesome Pro 6.1.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --><path d="M319.1 351.1c-35.35 0-64 28.66-64 64.01s28.66 64.01 64 64.01c35.34 0 64-28.66 64-64.01S355.3 351.1 319.1 351.1zM320 191.1c-70.25 0-137.9 25.6-190.5 72.03C116.3 275.7 115 295.9 126.7 309.2C138.5 322.4 158.7 323.7 171.9 312C212.8 275.9 265.4 256 320 256s107.3 19.88 148.1 56C474.2 317.4 481.8 320 489.3 320c8.844 0 17.66-3.656 24-10.81C525 295.9 523.8 275.7 510.5 264C457.9 217.6 390.3 191.1 320 191.1zM630.2 156.7C546.3 76.28 436.2 32 320 32S93.69 76.28 9.844 156.7c-12.75 12.25-13.16 32.5-.9375 45.25c12.22 12.78 32.47 13.12 45.25 .9375C125.1 133.1 220.4 96 320 96s193.1 37.97 265.8 106.9C592.1 208.8 600 211.8 608 211.8c8.406 0 16.81-3.281 23.09-9.844C643.3 189.2 642.9 168.1 630.2 156.7z"/></svg>
                        </div>
                        <p class="tablet__buttNum">100%</p>
                        <div class="tablet__batt">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
                            <path d="M448 320H96V192H448V320zM0 176C0 131.8 35.82 96 80 96H464C508.2 96 544 131.8 544 176V192C561.7 192 576 206.3 576 224V288C576 305.7 561.7 320 544 320V336C544 380.2 508.2 416 464 416H80C35.82 416 0 380.2 0 336V176zM80 160C71.16 160 64 167.2 64 176V336C64 344.8 71.16 352 80 352H464C472.8 352 480 344.8 480 336V176C480 167.2 472.8 160 464 160H80z"/></svg>
                        </div>
                        </div>
                    </div>
                    <div class="tablet__header">
                        <div class="tablet__header__item">
                            <div class="form">
                                <input id="search" type="search" class="form__input" name="search" placeholder=" " spellcheck="false" autocomplete="off" data-search>
                                <label for="search" class="form__label">Поиск кофе</label>
                            </div>
                        </div>
                    </div>
                    <div class="tablet__main">
                        <div class="tablet__menu">
                            <div class="tablet__menu__item">
                                <a href="http://localhost:8000/">
                                    <svg viewBox="0 0 1142.6 1158.3">
                                        <g>
                                            <path d="M271,331l9.1,132.5c2,29.4,2.9,58.4,2.7,86.8c2.8,8.6,6.9,12.7,12.3,12.3l9.6-3.9c5.4-0.4,5.7-36.5,0.8-108.4l-1.2-18.2
                                                c-1.4-20.2-4.9-55-10.4-104.4l-1.9-3.2c1.1-0.1,1.6-0.7,1.5-1.7c18-7.3,27.5-11.8,28.6-13.5l-0.1-1.6c-0.2-3-5.8-4.8-16.8-5.4
                                                l-3.3,0.2c-50.8,8.6-76.1,15.3-75.8,20l0.1,1.6c5.6,5.1,11.8,7.4,18.5,6.9c5.9-1.5,10.7-2.4,14.6-2.6l8.2-0.6
                                                C269.7,327.8,270.9,328.8,271,331z"/>
                                            <path d="M383.8,487.8l1.8-0.1c-0.1,15.6,0,27.1,0.6,34.6l3.2,46.7c0.6,9,3.9,14.5,9.9,16.6l3.4-0.2c6.2-0.4,10-3,11.5-7.7
                                                l-1.1-15.6c-2.4-35.6-4.7-77-6.7-124.3c-3.8-22-7.7-52.4-11.5-91.1c-2.3-33.4-6.9-49.9-13.8-49.4l-6.9,0.5
                                                c-11.7,0.8-20.7,22.2-26.8,64.2c-9,25.4-12.9,86.4-11.7,183c0.1,0.8,2.7,5.8,8,15c13.6-4.3,20.2-8.3,20-11.8l-3.9-57
                                                C374.1,489,382.1,487.9,383.8,487.8z M371.8,363.7l3.4-0.2c6,54.2,9.5,88.1,10.4,101.6c0.2,3.5-1.9,6-6.4,7.4l-17.4-0.4
                                                C358.9,428.5,362.2,392.4,371.8,363.7z"/>
                                            <path d="M499.2,486.6l-0.4-6.5c-1.3-18.4-4.7-36-10.4-52.9c-21.7-39.5-33.2-69.4-34.6-89.7c0.5-8.7,2.2-17.2,5-25.5
                                                c14.8,17.7,23.3,26.6,25.4,26.7l3.3-0.2c5.9-0.4,9.7-2.9,11.2-7.3l-0.6-8.4c-9.5-21.7-26.9-31.7-52.2-30
                                                c-13.3,0.9-18.8,18.6-16.4,53.1c1.8,10.8,4.2,21.2,7.1,31.3c24.6,48.2,37.6,83,39.1,104.6c1.2,17.1-1.2,32.9-7,47.4l-1.6,0.1
                                                c-11.8-21.6-21.7-35.4-29.7-41.6l-3.2,1.9c2.9,42.2,14.3,62.7,34.3,61.3l1.6-0.1C491.9,543.1,501.6,521.7,499.2,486.6z"/>
                                            <path d="M577.6,543.3l9.6-3.9c5.4-0.4,5.7-36.5,0.8-108.4l-1.2-18.2c-1.4-20.2-4.9-55-10.4-104.4l-1.9-3.2
                                                c1.1-0.1,1.6-0.7,1.5-1.7c18-7.3,27.5-11.8,28.6-13.5l-0.1-1.6c-0.2-3-5.8-4.8-16.8-5.4l-3.3,0.2c-50.8,8.6-76.1,15.3-75.8,20
                                                l0.1,1.6c5.6,5.1,11.8,7.4,18.5,6.9c5.9-1.5,10.7-2.4,14.6-2.6l8.2-0.6c2.2-0.1,3.3,0.9,3.5,3l9.1,132.5
                                                c2,29.4,2.9,58.4,2.7,86.8C568,539.6,572.1,543.6,577.6,543.3z"/>
                                            <path d="M697.6,405c-1.9-27.4-6.3-67.5-13.2-120.4c-2.3-3.7-5.6-5.5-9.8-5.2c-5.8,0.4-9.9,3.1-12.4,8.1l0.5,7.1l2.1,7
                                                c-1.1,0.1-1.5,1.5-1.3,4.3l0.1,1.5l1.8,2.8c-1.1,0.1-1.6,0.6-1.5,1.6l0.7,10c-5.7,43.2-12.2,65-19.6,65.6l-3.3,0.2
                                                c-7.2-11.7-11.5-26.1-12.7-43.5l-2.1-31.2c-0.4-5.4-0.3-13,0.1-22.8c-1.6-7.6-3.4-11.3-5.5-11.1l-4.9,0.3
                                                c-9.6,0.7-12.9,21.4-10.1,62.2c0.4,6.2,1.5,14.2,3.3,24c7,28.1,17.1,41.7,30.2,40.8c7.1-1.5,17.4-6.5,31.1-15.1
                                                c3.5,21,5.3,32.3,5.4,33.9c2.2,31.6-1.2,60.9-10,87.9c-9.6,0.7-17.4-12.1-23.4-38.3c1.1-0.1,1.6-0.6,1.5-1.6l-0.1-1.5
                                                c-1-14,0.8-26.6,5.4-37.6c-0.1-1.8-1.4-4.6-3.9-8.3l-4.7,0.3c-13.6,5.9-19.3,24.4-17.2,55.5c5.7,38.6,17.7,57.3,36,56.1
                                                C691,535.5,703.5,491.3,697.6,405z"/>
                                            <path d="M321.9,796.1l-3.3,0.2l-6.4,5.5c-6.8,26.3-11.9,42.3-15.3,48.3l-1.8,0.1c-6.7,0.5-11-13.9-13-43.1L280,799l1.6-0.1
                                                c-4.3-62.6-0.2-118.7,12.2-168.3c8.2,3.7,12.4,7.4,12.6,11c0.3,3.8-3,22.6-9.8,56.5c0.3,4.5,3.8,6.5,10.6,6l3.4-0.2
                                                c13.9-10.8,19.8-30.4,17.8-58.9c-0.4-6.4-1.3-10.2-2.4-11.5c-0.7-10.5-14.1-17-40.2-19.3l-1.8,0.1c-9.6,0.7-15.5,11.8-18,33.3
                                                c-5.3,0.4-7.3,61.4-6,183.2c2.1,30.3,13.2,44.7,33.4,43.3l8.2-2.2c17.2-1.2,27.5-23.9,30.9-68.2C332.6,802,329,799.5,321.9,796.1
                                                z"/>
                                            <path d="M453.7,681c0.9-4.7,1.2-9.5,0.8-14.5c-13.2-41.2-27.7-61.2-43.7-60.1c-11.7,0.8-18.4,9-20,24.7
                                                c-7.4,0.5-12,55.5-13.8,165.1l0.6,8.9c2.9,41.9,15.1,62.1,36.6,60.6c26.4-1.8,41-51.5,43.8-148.9l-0.2-3.6
                                                C457.1,703,455.7,692.2,453.7,681z M437.4,730.9c-8.6,67.4-16.3,104.5-23,111.6c-4.8,0.3-8-9.7-9.4-30l-0.9-12.7
                                                c-4.9-71.8-1.5-126.7,10.4-164.7c14.2,13.7,22.3,35.4,24.4,65.1C438.7,719.7,438.2,730,437.4,730.9z"/>
                                            <path d="M550.1,721.7c-11.8,3-19.6,4.6-23.4,4.9c-2.5,0.2-4.8-0.2-6.8-1.2c-2-29-2.6-46.4-1.7-52c-2-29.5,3.9-49.1,17.9-58.7
                                                c8,7.4,12.8,11,14.2,10.9c6.7-0.5,9.7-4.6,9.2-12.5l-0.3-4.9c-4.9-7.6-13-11-24.2-10.2c-12.3,2.2-18.3,4.3-18.2,6.4
                                                c-16.6,1.1-24.4,33.7-23.6,97.6l0.6,8.5l-1.2,8.5c1.2-0.1,1.9,0.4,1.9,1.5l-1.6,3.6c0.9,13.3,2.5,51.9,4.7,115.9
                                                c4.9,13.2,9.3,19.6,13.2,19.3l8.4-0.6c8.9-1.7,13.1-5.9,12.6-12.7c-5.2-9.9-8-18.1-8.4-24.6c-0.9-12.7-1.9-36.2-3.2-70.6
                                                c0.9-2.3,1.4-4,1.3-5.2c22.9-1.6,35.9-8.1,39.1-19.7C560.2,723.7,556.8,722.3,550.1,721.7z"/>
                                            <path d="M632.4,716c-11.8,3-19.6,4.6-23.4,4.9c-2.5,0.2-4.8-0.2-6.8-1.2c-2-29-2.6-46.4-1.7-52c-2-29.5,3.9-49.1,17.9-58.7
                                                c8,7.4,12.8,11,14.2,10.9c6.7-0.5,9.7-4.6,9.2-12.5l-0.3-4.9c-4.9-7.6-13-11-24.2-10.2c-12.3,2.2-18.3,4.3-18.2,6.4
                                                c-16.6,1.1-24.4,33.7-23.6,97.6l0.6,8.5l-1.2,8.5c1.2-0.1,1.9,0.4,1.9,1.5l-1.6,3.6c0.9,13.3,2.5,51.9,4.7,115.9
                                                c4.9,13.2,9.3,19.6,13.2,19.3l8.4-0.6c8.9-1.7,13.1-5.9,12.6-12.7c-5.2-9.9-8-18.1-8.4-24.6c-0.9-12.7-1.9-36.2-3.2-70.6
                                                c0.9-2.3,1.4-4,1.3-5.2c22.9-1.6,35.9-8.1,39.1-19.7C642.6,718.1,639.2,716.7,632.4,716z"/>
                                            <path d="M732.6,801.4l-15.3,1c-8.6,16.5-15.4,25-20.3,25.3c-6.7-15.7-10.8-35.8-12.5-60.2l1-8.6l-1.9-3.2
                                                c0.9-2.1,1.3-4.4,1.2-6.8l-1-15.3c26.6-8,39.6-15.7,39.1-23.1c-3.1-4.3-5.5-6.4-7.2-6.3l-5.1,0.3c-2.8,0.2-9.4,2.4-20,6.5
                                                l-6.7,0.5c0.5-71.3,8.2-107.5,23.2-108.5l13.4-0.9c4-2.3,6.5-5.9,7.7-10.7c-8.5-3.9-17.6-5.5-27.3-4.9l-3.4,0.2
                                                c-18.9,4.6-28,11.4-27.4,20.5c-8.1,0.6-11.2,63-9.2,187.2l0.5,6.9c2.2,31.5,10.6,46.7,25.2,45.7c11-0.8,16.6-1.7,16.8-2.8
                                                c21.4-1.5,31.2-15.2,29.5-41.1L732.6,801.4z"/>
                                            <path d="M829.3,793.2l-15.3,1c-8.6,16.5-15.4,25-20.3,25.3c-6.7-15.7-10.8-35.8-12.5-60.2l1-8.6l-1.9-3.2
                                                c0.9-2.1,1.3-4.4,1.2-6.8l-1-15.3c26.6-8,39.6-15.7,39.1-23.1c-3.1-4.3-5.5-6.4-7.2-6.3l-5.1,0.3c-2.8,0.2-9.4,2.4-20,6.5
                                                l-6.7,0.5c0.5-71.3,8.2-107.5,23.2-108.5l13.4-0.9c4-2.3,6.5-5.9,7.7-10.7c-8.5-3.9-17.6-5.5-27.3-4.9l-3.4,0.2
                                                c-18.9,4.6-28,11.4-27.4,20.5c-8.1,0.6-11.2,63-9.2,187.2l0.5,6.9c2.2,31.5,10.6,46.7,25.2,45.7c11-0.8,16.6-1.7,16.8-2.8
                                                c21.4-1.5,31.2-15.2,29.5-41.1L829.3,793.2z"/>
                                            <path d="M971.8,956.2c0.3-1.3,0.3-2.7,0-4.1c-0.9-5-4.9-8.7-10.3-9.4c-0.3,0-0.7-0.1-1-0.1c-3.4-8.8-9-34.9-3.3-106.5
                                                c11.7-146.5,9.2-256.9-8.2-358c-1.4-8.4-2.6-17.9-3.4-29.1c-2.3-30.3-2.1-67.9-2-104.2c0.2-45.2,0.4-92-4-128.5
                                                c-3.4-28.6-11.1-67.5-38.1-75.5c-33.5-10-232.5-18.1-348.2-22c-74.1-2.5-151.7-4.6-212.7-5.7c-97.6-1.8-100.8-0.3-103.7,0.9
                                                c-0.8,0.4-2.1,0.8-3.4,1.2c-6.4,2.1-17,5.5-25.3,17.9c-8.6,12.9-12.8,32.9-12.8,61.1c0,28.5-7.7,100-15.9,175.7
                                                c-11.4,105.4-23.1,214.4-19.6,251.9c2.9,30.9,5.3,108.2,4.4,184.3c-1.5,132.5-11.6,149.3-12.7,150.8c-3,3.6-3.8,8.4-1.9,12.7
                                                c1.9,4.4,7.1,16.2,79,19.2c56.3,2.3,441.4,41.3,502.5,50.8c28.4,4.5,55.8,6.8,78.7,6.8c4.9,0,9.6-0.1,14.1-0.3
                                                c24.6-1.2,42.4-5.5,53.6-13.2l2.2,3.7l8.5-14.9c0,0,0,0,0,0l2.8-4.3c13.3-18.3,47.2-43.9,63.7-52.3c1.6,0.6,3.2,0.8,4.7,0.8
                                                c2.2,0,4.3-0.5,5.9-1.4c2.7-1.3,4.6-3.5,5.7-6l2-0.8L971.8,956.2z M823.1,1026c-24,1.2-55.6-1.1-88.8-6.3
                                                c-61.3-9.6-448.2-48.8-504.8-51.1c-34.8-1.4-51-4.9-58-7.2c5.1-13.4,11.5-48.9,12.8-154.2c0.9-77.1-1.6-155.8-4.5-187.4
                                                c-3.3-35.5,8.9-148.3,19.6-247.9c8.2-76.2,16-148.2,16-177.8c0-23.8,3.2-40.6,9.4-50c4.4-6.6,9.4-8.2,14.8-10
                                                c1.4-0.5,2.8-0.9,4.2-1.5c14.9-1.6,156.4,0.7,315.2,6.2c188.6,6.5,314.5,14.4,336.7,21c8,2.4,18.7,14.5,24,58.8
                                                c4.2,35.3,4,81.4,3.8,126.1c-0.2,36.5-0.3,74.2,2,105.3c0,0.6,0,1.1,0,1.7c0,0.4,0,0.9,0,1.3c0,0.6-0.1,1.3-0.1,1.9
                                                c0,0.4,0,0.9-0.1,1.3c0,0.6-0.1,1.3-0.1,1.9c0,0.4-0.1,0.9-0.1,1.3c0,0.7-0.1,1.3-0.2,2c0,0.5-0.1,0.9-0.1,1.4
                                                c-0.1,0.7-0.1,1.3-0.2,2c0,0.5-0.1,0.9-0.1,1.4c-0.1,0.7-0.1,1.4-0.2,2c-0.1,0.5-0.1,0.9-0.1,1.4c-0.1,0.7-0.2,1.4-0.2,2.1
                                                c-0.1,0.5-0.1,1-0.2,1.4c-0.1,0.7-0.2,1.4-0.3,2.1c-0.1,0.5-0.1,1-0.2,1.5c-0.1,0.7-0.2,1.4-0.3,2.1c-0.1,0.5-0.1,1-0.2,1.5
                                                c-0.1,0.7-0.2,1.4-0.3,2.1c-0.1,0.5-0.2,1-0.2,1.6c-0.1,0.7-0.2,1.4-0.3,2.1c-0.1,0.5-0.2,1.1-0.3,1.6c-0.1,0.7-0.2,1.4-0.4,2.1
                                                c-0.1,0.5-0.2,1.1-0.3,1.6c-0.1,0.7-0.3,1.5-0.4,2.2c-0.1,0.5-0.2,1.1-0.3,1.6c-0.1,0.7-0.3,1.5-0.4,2.2
                                                c-0.1,0.5-0.2,1.1-0.3,1.6c-0.1,0.7-0.3,1.5-0.4,2.2c-0.1,0.5-0.2,1.1-0.3,1.6c-0.2,0.8-0.3,1.5-0.5,2.3
                                                c-0.1,0.6-0.2,1.1-0.3,1.7c-0.2,0.8-0.3,1.5-0.5,2.3c-0.1,0.6-0.2,1.1-0.4,1.7c-0.2,0.8-0.3,1.6-0.5,2.3
                                                c-0.1,0.6-0.2,1.1-0.4,1.7c-0.2,0.8-0.3,1.6-0.5,2.4c-0.1,0.6-0.3,1.1-0.4,1.7c-0.2,0.8-0.3,1.6-0.5,2.3
                                                c-0.1,0.6-0.3,1.2-0.4,1.8c-0.2,0.8-0.4,1.6-0.5,2.4c-0.1,0.6-0.3,1.2-0.4,1.8c-0.2,0.8-0.4,1.6-0.6,2.4
                                                c-0.1,0.6-0.3,1.2-0.4,1.8c-0.2,0.9-0.4,1.8-0.6,2.7c-0.1,0.5-0.2,1-0.4,1.6c-0.2,1-0.5,2-0.7,3.1c-0.1,0.4-0.2,0.8-0.3,1.2
                                                c-0.3,1.1-0.5,2.2-0.8,3.3c-0.1,0.3-0.2,0.7-0.2,1c-0.2,1-0.5,2-0.8,3.1c-0.1,0.4-0.2,0.9-0.3,1.3c-0.2,0.9-0.4,1.7-0.6,2.6
                                                c-0.2,0.6-0.3,1.2-0.5,1.8c-0.2,0.8-0.4,1.6-0.6,2.3c-0.2,0.7-0.4,1.4-0.5,2.1c-0.3,1.1-0.5,2.2-0.8,3.3
                                                c-0.1,0.4-0.2,0.8-0.3,1.2c-1.1,4.5-2.3,9.2-3.5,13.8C885.6,640.3,865.5,720,859,812.7c-0.2,2.4-0.3,4.7-0.5,7
                                                c0,0.7-0.1,1.5-0.1,2.2c-0.1,1.6-0.2,3.1-0.3,4.7c0,0.8-0.1,1.6-0.1,2.4c-0.1,1.5-0.2,3-0.3,4.5c0,0.8-0.1,1.5-0.1,2.3
                                                c-0.1,1.8-0.2,3.5-0.3,5.2c0,0.4,0,0.8-0.1,1.3c-0.1,2.1-0.2,4.3-0.3,6.3c0,0.6,0,1.1-0.1,1.6c-0.1,1.5-0.1,3.1-0.2,4.6
                                                c0,0.7-0.1,1.4-0.1,2.1c-0.1,1.4-0.1,2.7-0.2,4.1c0,0.7-0.1,1.4-0.1,2.1c-0.1,1.5-0.1,2.9-0.1,4.3c0,0.5,0,1.1-0.1,1.6
                                                c-0.1,1.9-0.1,3.8-0.2,5.7c0,0.3,0,0.6,0,0.9c0,1.6-0.1,3.1-0.1,4.7c0,0.6,0,1.2,0,1.8c0,1.3,0,2.5-0.1,3.7c0,0.6,0,1.2,0,1.9
                                                c0,1.3,0,2.5,0,3.8c0,0.5,0,1,0,1.5c0,1.7,0,3.4,0,5.1c0,0,0,0,0,0.1c0,1.7,0,3.4,0,5c0,0.5,0,0.9,0,1.4c0,1.2,0,2.4,0,3.5
                                                c0,0.5,0,1.1,0,1.6c0,1.1,0,2.2,0,3.3c0,0.5,0,1,0,1.5c0,1.3,0,2.6,0.1,3.8c0,0.2,0,0.5,0,0.7c0,1.5,0.1,3,0.1,4.5
                                                c0,0.3,0,0.6,0,0.9c0,1.2,0.1,2.3,0.1,3.4c0,0.4,0,0.9,0,1.3c0,1,0.1,2,0.1,3c0,0.4,0,0.9,0.1,1.3c0,1.1,0.1,2.1,0.1,3.2
                                                c0,0.3,0,0.6,0,0.9c0.1,1.4,0.1,2.7,0.2,4c0,0.1,0,0.2,0,0.2c0.1,1.2,0.1,2.4,0.2,3.6c0,0.3,0,0.7,0.1,1c0.1,0.9,0.1,1.8,0.2,2.7
                                                c0,0.4,0.1,0.7,0.1,1.1c0.1,0.9,0.1,1.8,0.2,2.7c0,0.3,0,0.6,0.1,0.9c0.2,2.4,0.4,4.7,0.6,6.9c0,0.2,0,0.5,0.1,0.7
                                                c0.1,0.9,0.2,1.7,0.2,2.5c0,0.3,0.1,0.6,0.1,0.9c0.1,0.8,0.2,1.6,0.2,2.4c0,0.3,0.1,0.5,0.1,0.8c0.1,0.9,0.2,1.8,0.3,2.7
                                                c0,0.1,0,0.2,0,0.3c0.1,1,0.2,2,0.4,3c0,0.1,0,0.2,0,0.3c0.1,0.8,0.2,1.6,0.3,2.4c0,0.2,0.1,0.5,0.1,0.7c0.1,0.7,0.2,1.4,0.3,2
                                                c0,0.2,0.1,0.5,0.1,0.7c0.1,0.7,0.2,1.4,0.3,2.1c0,0.1,0,0.3,0.1,0.4c0.3,1.7,0.5,3.3,0.8,4.9c0,0.2,0.1,0.3,0.1,0.5
                                                c0.1,0.6,0.2,1.2,0.3,1.8c0,0.2,0.1,0.4,0.1,0.6c0.1,0.6,0.2,1.2,0.3,1.7c0,0.1,0.1,0.3,0.1,0.4c0.3,1.4,0.5,2.8,0.8,4.1
                                                c0,0.1,0,0.2,0.1,0.3c0.1,0.5,0.2,1.1,0.3,1.6c0,0.1,0.1,0.3,0.1,0.4c0.1,0.5,0.2,1,0.3,1.4c0,0.1,0.1,0.2,0.1,0.4
                                                c0.1,0.5,0.3,1.1,0.4,1.6c0,0,0,0.1,0,0.1c0.1,0.6,0.3,1.1,0.4,1.7c0,0,0,0,0,0c0.1,0.5,0.3,1,0.4,1.5c0,0.1,0,0.2,0.1,0.3
                                                c0.1,0.4,0.2,0.8,0.3,1.2c0,0.1,0.1,0.2,0.1,0.3c0.1,0.4,0.2,0.8,0.3,1.2c0,0,0,0.1,0,0.1c0.3,0.9,0.5,1.7,0.8,2.5
                                                c0,0.1,0,0.1,0,0.2c0.1,0.3,0.2,0.7,0.3,1c0,0.1,0,0.1,0.1,0.2c0.1,0.3,0.2,0.6,0.3,0.9c0,0,0,0.1,0,0.1c0.1,0.4,0.2,0.7,0.4,1
                                                C863.2,1019.2,851.3,1024.7,823.1,1026z M941.5,948.4l-3.5,1.4l1.2,1.2c-16.6,9.9-40,27.7-55.6,44.5c-0.1-0.4-0.2-0.8-0.3-1.3
                                                c0-0.1,0-0.1,0-0.2c-0.1-0.5-0.2-0.9-0.3-1.4c0-0.1,0-0.2-0.1-0.3c-0.1-0.6-0.2-1.1-0.3-1.7c0,0,0,0,0,0
                                                c-0.1-0.6-0.2-1.1-0.3-1.7c0-0.1,0-0.2-0.1-0.3c-0.2-1.2-0.5-2.5-0.7-3.8c0-0.1,0-0.2-0.1-0.3c-0.2-1.3-0.5-2.7-0.7-4.2
                                                c0-0.1,0-0.2-0.1-0.3c-0.1-0.7-0.2-1.4-0.3-2.2c0,0,0,0,0-0.1c-0.1-0.8-0.2-1.6-0.3-2.4c0-0.1,0-0.2,0-0.3
                                                c-0.1-0.7-0.2-1.5-0.3-2.3c0-0.1,0-0.1,0-0.2c-0.1-0.8-0.2-1.7-0.3-2.6c0-0.1,0-0.2,0-0.3c-0.1-0.8-0.2-1.6-0.3-2.5
                                                c0-0.1,0-0.2,0-0.3c-0.1-0.9-0.2-1.9-0.3-2.8c0-0.1,0-0.1,0-0.2c-0.1-0.9-0.2-1.8-0.3-2.7c0-0.1,0-0.3,0-0.4c-0.1-1-0.2-2-0.3-3
                                                c0,0,0,0,0,0c-0.1-1-0.2-2-0.3-3c0-0.2,0-0.4,0-0.5c-0.2-2.1-0.3-4.2-0.5-6.5c0-0.2,0-0.4,0-0.6c-0.2-2.2-0.3-4.6-0.4-6.9
                                                c0-0.2,0-0.4,0-0.6c-0.1-1.1-0.1-2.2-0.2-3.4c0-0.1,0-0.2,0-0.3c-0.1-1.2-0.1-2.5-0.2-3.7c0-0.2,0-0.4,0-0.6
                                                c0-1.1-0.1-2.3-0.1-3.4c0-0.2,0-0.3,0-0.5c0-1.3-0.1-2.6-0.1-4c0-0.2,0-0.4,0-0.6c0-1.2-0.1-2.4-0.1-3.6c0-0.2,0-0.5,0-0.7
                                                c0-1.4-0.1-2.8-0.1-4.2c0-0.2,0-0.3,0-0.5c0-1.3,0-2.6-0.1-3.9c0-0.3,0-0.6,0-0.9c0-1.5,0-2.9,0-4.4c0-0.1,0-0.2,0-0.3
                                                c0-1.4,0-2.8,0-4.3c0-0.3,0-0.7,0-1c0-3.1,0-6.2,0.1-9.4c0-0.4,0-0.7,0-1.1c0-1.5,0-3.1,0.1-4.6c0-0.1,0-0.2,0-0.3
                                                c0-1.7,0.1-3.3,0.1-5c0-0.4,0-0.8,0-1.2c0-1.5,0.1-3,0.1-4.5c0-0.3,0-0.5,0-0.8c0-1.7,0.1-3.5,0.2-5.2c0-0.4,0-0.8,0-1.2
                                                c0-1.5,0.1-3,0.2-4.5c0-0.4,0-0.7,0-1.1c0.1-1.8,0.1-3.6,0.2-5.5c0-0.4,0-0.8,0-1.2c0.1-1.5,0.1-3.1,0.2-4.7c0-0.4,0-0.9,0.1-1.3
                                                c0.1-1.9,0.2-3.8,0.3-5.7c0-0.3,0-0.7,0.1-1c0.1-1.7,0.2-3.3,0.3-5c0-0.5,0.1-1,0.1-1.5c0.1-2,0.2-4,0.4-6c0-0.2,0-0.4,0-0.7
                                                c0.1-1.8,0.2-3.7,0.4-5.6c0-0.5,0.1-1.1,0.1-1.6c0.1-2.1,0.3-4.2,0.4-6.4c0.6-8.5,1.3-16.9,2.1-25.2
                                                c7.9-80.3,25.6-150.4,40-207.8c0.6-2.3,1.1-4.5,1.7-6.7c0.1-0.5,0.2-1,0.4-1.5c0.6-2.2,1.1-4.4,1.7-6.6c0.1-0.5,0.2-1,0.4-1.5
                                                c0.5-2,1-4.1,1.5-6.1c0.1-0.3,0.1-0.5,0.2-0.8c0.5-2.2,1.1-4.3,1.6-6.4c0.1-0.5,0.2-1,0.4-1.5c0.5-2.1,1-4.2,1.5-6.3
                                                c0.1-0.4,0.2-0.8,0.3-1.1c0.5-1.9,0.9-3.8,1.4-5.7c0.1-0.4,0.2-0.7,0.3-1.1c0.5-2,0.9-4.1,1.4-6.1c0.1-0.5,0.2-0.9,0.3-1.4
                                                c0.5-2,0.9-4.1,1.4-6.1c0-0.1,0-0.2,0.1-0.2c11.5,88.7,12,187.2,1.9,312.6C932.9,890.1,934.3,928.3,941.5,948.4z"/>
                                        </g>
                                    </svg>
                                </a>
                            </div>
                        </div>
                        <div class="tablet__content" data-content-container>
                        </div>
                        <template data-content-template>
                            <div class="tablet__content__item">
                                <div class="tablet__content__img" data-img></div>
                                <div class="tablet__content__name" data-name></div>
                                <div class="tablet__contnet__price" data-price></div>
                            </div>
                        </template>
                    </div>
                </div>
            </section>
        </div>
    </div>
    {{!-- Partricle matrix move --}}
    <svg>
        <defs>
            <filter id="goo">
                <feGaussianBlur in="SourceGraphic" stdDeviation="10"/>
                <feColorMatrix in="name" mode="matrix"
                    values='1 0 0 0 0
                            0 1 0 0 0
                            0 0 1 0 0
                            0 0 0 30 -15'/>
                <feBlend in="SourceGraphic"/>
            </filter>
        </defs>
    </svg>

<script src="js/search.js" defer></script>  
</body>
</html>